//Font-Family
$fontText: "Dosis";

//Main colors
$mainColor: #37151e;
$secondaryColor: #02ffa3;

//Secondary colors
$mainColor2: #7f3fb6;
$secondaryColor2: #bc6aff;

//Terciary colors
$mainColor3: rgb(255, 255, 255);
$secondaryColor3: rgb(0, 0, 0);

//Forth colors set
$mainColor4: rgb(0, 65, 118);
$secondaryColor4: rgb(0, 0, 0);

// Media Queries
$breakpoint-max: 2560px;
$breakpoint-huge: 1824px;
$breakpoint-extralarge: 1224px;
$breakpoint-largest: 1025px;
$breakpoint-medium: 821px;
$breakpoint-small: 480px;
$breakpoint-smallest: 320px;
